html, body{
	margin: 0;
	padding: 0;
  cursor: default;
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*image styling*/

main{
	height: 100vh;
	width: auto;
	overflow-x: scroll;
	overflow-y: hidden;
  white-space: nowrap;
  font-size: 0px;
}

main figure,
main div{
  display: inline-block;
  height: 100%;
  width: auto;
  position: relative;
}

main figure{
  margin: 0;
  padding: 0;
}

main figure img{
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: opacity 1s;
  position: relative;
  z-index: 1;
}

main figure img:hover{
	opacity: 1;
}

main figure span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75vh !important;
  z-index: 0;
}

main div div{
  height: 2vh;
  width: 50vw;
  margin-bottom: 50vh;
  background-color: black;
}

/*link styling*/

main .download-link a,
nav .about-link a{
  font-size: 36px;
  position: fixed;
  right:18px;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
  color: black;
  z-index: 2;
}

main .download-link a:hover,
nav .about-link a:hover{
  opacity: 0.5;
}

nav .about-link a{
  top: 18px;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 2px solid black;
  text-align: center;
  font-size: 24px;
  font-family: 'Noto Sans SC', sans-serif;
}

main .download-link a{
  bottom: 18px;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 2px solid black;
  text-align: center;
  font-size: 32px;
}

@media only screen and (max-width:480px) {
  main figure img{
    opacity: 1;
  }
  main div div{
    width: 100vw;
  }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
  main figure img{
    opacity: 1;
  }
  main div div{
    width: 100vw;
  }
}